@model List<Marka>

@{
	ViewData["Title"] = "Index";
}

<ul>
	@foreach (Marka marka in Model)
	{
		<li><a href="/model/index/@marka.Id">Id: @marka.Id  Marka: @marka.MarkaName</a></li>
	}
</ul>

<h1><a href="/model/index/0">Show All Models</a></h1>